@use './partials/base.scss';
@use './partials/playerinfointro';
@use './partials/setplayerships';
@use './partials/gameboarddisplay';
@use './partials/winnerbanner';
h1 {
  text-align: center;
  font-size: clamp(2rem, 10vh, 5rem);
  margin: 1rem 0;
}