*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(240, 240, 240);
  --black: rgb(16,16,16);
  --dark-bg:  rgb(36, 36, 36);
  --light-grey: rgb(114, 114, 114);
  --gameboard-ship: rgb(240, 144, 35);
  --grid-cells: rgb(252, 206, 164);
  --cell-hovered: rgb(214, 161, 112);
  --hit: rgb(207, 50, 50);
  --miss: rgb(58, 194, 182);
}

body {
  background-color: var(--dark-bg);
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}