*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(240, 240, 240);
  --black: rgb(16,16,16);
  --dark-bg:  rgb(32, 75, 87);
  --light-grey: rgb(76, 133, 162);
  --gameboard-ship: rgb(230, 175, 46);
  --grid-cells: rgb(25, 123, 189);
  --cell-hovered: rgb(18, 94, 138);
  --hit: rgb(221, 64, 58);
  --miss: rgb(203, 203, 212);
}

body {
  background-color: var(--dark-bg);
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}