.set-player-ships-container {
  background-color: var(--light-grey);
  width: min(80%, 25em);
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    margin: 0;
  }
  button {
    text-align: center;
    margin: 1em auto;
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .placement-grid {
    display: grid;
    margin: 1em 0 1em;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(10, 1fr);
    .placement-grid-cell {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      background-color: var(--grid-cells);
      margin: 0;
    }
    .placement-grid-cell.hovered {
      background-color: var(--cell-hovered);
    }
    .placement-grid-cell.ship-placed {
      background-color: var(--gameboard-ship);
    }
  }
}