*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(240, 240, 240);
  --black: rgb(16,16,16);
  --dark-bg:  rgb(36, 36, 36);
}

body {
  background-color: var(--dark-bg);
  color: var(--white);
}